.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 25px 15px;
    text-decoration: none;
    font-size: 30px;
}

.nav-links a:hover {
    color: #fcb900;;
}

.nav-links {
    float: right;
    padding-top: 28%;
}

.mission {
    position: relative;
    width: auto;
    height: auto;
    background-color: whitesmoke;
}

.mission, h2 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#g-touch {
    background-color: rgba(252,185,0,1);
    color: #ffff;
    border: none;
    margin-bottom: 15px;
    border-radius: 12px;
    padding: 20px;
    font-size: 20px;
}

.future-leaders {
    position: relative;
}

.leaders {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffff;
    margin-bottom: 0%;
}

.services {
    background-color: #fcb900;
    color: #ffff;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.services h1 {
 padding-right: 450px;   
}

.services h2 {
    margin-bottom: 0%;
}

.services h3 {
    margin-top: 0%;
    margin-bottom: 5%;
}

.container {
    margin-top: 3%;
    margin-bottom: 3%;
}

.reviews {
    text-align: center;
    font-size: 19px;
}

hr {
    border: 3px solid #fcb900;
}

.reviews {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
.column {
    width: 48%; 
    padding: 10px;
    box-sizing: border-box;
}

.containers {
    position: relative;
    width: 100%;
    max-width: 600px; 
  }
  .image {
    width: 1500px;
    height: 500px;
    display: block;
    filter: blur(5px);
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 280px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  footer {
    background-color: #fcb900;
    color: #ffff;
    text-align: center;
    padding-top: 10px;
}
