.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 25px 15px;
    text-decoration: none;
    font-size: 30px;
}

.nav-links a:hover {
    color: #fcb900;;
}

.nav-links {
    float: right;
    padding-top: 28%;
}

.mission {
    position: relative;
    width: auto;
    height: auto;
    background-color: whitesmoke;
}

.mission, h2 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#g-touch {
    background-color: rgba(252,185,0,1);
    color: #ffff;
    border: none;
    margin-bottom: 15px;
    border-radius: 12px;
    padding: 20px;
    font-size: 20px;
}

.future-leaders {
    position: relative;
}

.leaders {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffff;
}

.reviews {
    text-align: center;
}

hr {
    border: 3px solid #fcb900;
}

.column {
    float: left;
    width: 50%;
}
  
  /* Clear floats after the columns */
.about-us:after {
    content: "";
    display: table;
    clear: both;
}

.about-us {
    background-color: #fcb900;
    padding-top: 20px;
    text-align: center;
}

footer {
    background-color: whitesmoke;
    text-align: center;
    padding-top: 10px;
}